<div class="text-center" style="width: 90%; margin: auto; margin-top: 0; overflow-y: hidden;">
    <mat-card >
        <mat-card-content>
            <img src="../../assets/404notfound.PNG" mat-card-image alt="">
        </mat-card-content>
        <mat-card-actions>
            <hr style="height: 1px; background-color: white;">
            <a routerLink="/" style="color: whitesmoke; text-decoration: none; font-size:large ">
                <span class="material-icons">
                    arrow_back
                    
                </span>
                Click here to go back to home
                
            </a>
        </mat-card-actions>
    </mat-card>
    
    
</div>