<div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Sign up to Pollster</mat-card-title>
            <mat-card-subtitle>Sign up email and password</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <form #ng="ngForm" (ngSubmit)="signinwithemailandpassword(ng)">
                <mat-form-field>
                    <input matInput type="text" required name="firstname" placeholder="First Name" ngModel>
                    <mat-error>First Name is required</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="text" required name="lastname" placeholder="Last Name" ngModel>
                    <mat-error>Last Name is required</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="email" required name="email" placeholder="Email" ngModel>
                    <mat-error>Email is required</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" required name="password" minlength="6" placeholder="Password" ngModel>
                    <mat-error>Password should be atleast 6 characters long </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" required name="cf_password" minlength="6" placeholder="Confirm password" ngModel>
                    <mat-error>Password should be atleast 6 characters long </mat-error>
                </mat-form-field>
                <div class="text-center">
                    <button [disabled]="ng.invalid" type="submit" mat-raised-button color="accent">Sign Up</button>
                </div>
            </form>
        </mat-card-content>
        
        <mat-card-actions>
            <p style="font-weight: lighter;" class="text-center"> -- Other Sign in options --</p>
            <hr >
            <button mat-flat-button class="btn-block" (click)="signinwithgoogle()"  >
                <img src="../../assets/google.png" height="20" width="20" alt=""> &nbsp; &nbsp; create account with google
            </button>
        </mat-card-actions>
    </mat-card>
</div>