.pollster{
    
    height: 100%;
    width: 100%;
}

mat-card{
    background-color: transparent;
    color: white;
    width: 90%;
}

li{
    font-size: medium;
}

mat-card-subtitle{
    
    font-size: 24px;
}