<div class="pollster">
    <div class="row">
        <div class="col-sm-3">
            <img src="../../assets/Free_Sample_By_Wix.jpg"  alt="Image Pollster Logo">
        </div>
        <div class="col-sm-9">
            <mat-card >
                <mat-card-header>
                    <mat-card-title>
                        <p class="display-4">Welcome to POLLSTER</p>
                    </mat-card-title>
                    <mat-card-subtitle >
                        Create your own polls
                    </mat-card-subtitle>
                    
                </mat-card-header>
                <hr>
                <mat-card-content style="color:whitesmoke" >
                    <ul >
                        <li>Signup into pollster using google</li>
                        <li>Create your own poll</li>
                        <li>Add a question as you like</li>
                        <li>Create options to the question</li>
                        <li>Share poll link </li>
                        <li>Let your friends vote to the Poll</li>
                        <li>See the results</li>
                    </ul>
                </mat-card-content>
            </mat-card>

        </div>

    </div>
</div>